/*Style Sheet for VCG*/				
		*			{
					margin: 0px;
					padding: 0px;
					box-sizing: border-box;
					}
		
		#bg			{
					background-image:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.1)), url(mountain.jpg);
					height: 550px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					}
					
		nav ul		{
					text-align: center;
					}
		nav ul li 	{
					display: inline-block;
					color: white;
					padding-left: 4%;
					padding-right: 4%;
					vertical-align: middle;
					font-size: 22px;
					}
					
		nav ul li a {
					color: black;
					list-style-type: none;
					text-decoration:none;
					}
					
		footer		{
					position: relative;
					left: 0;
					bottom: 0;
					width: 100%;
					background-color: #4d4d4d;
					color: white;
					text-align: center;
					padding-bottom:.5%;
					padding-top: .5%;
					}
					
		footer div p a 	{
						list-style-type: none;
						text-decoration:none;
						color:white;
						}
					
		a:link		{
					color: #414141
					}
		a:hover 	{
					color: #ebc600;
					}